<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}"></head>

<body id="page-top">
    <!-- Header -->
    <header th:replace="~{layout/layout :: header}"></header>
    <!-- Journal -->
    <div class="container my-4">

        <section class="page-section bg-gray" id="upload">
            <div class="container bg-gray">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">ATM</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>CAJERO</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4>DEPOSITOS</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <form enctype="multipart/form-data" action="http://localhost/plugins/test">
            <div class="form-group">
                <div class="file-loading">
                    <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false"
                        data-min-file-count="2">
                </div>
            </div>
            <hr>
        </form>
    </div>
    <!-- Footer-->
    <footer th:replace="~{layout/layout :: footer}"></footer>
</body>
<script>
    $("#file-1").fileinput({
        theme: 'fa5',
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions: ['jpg', 'png', 'gif', 'txt', 'sql'],
        overwriteInitial: false,
        maxFileSize: 100000,
        maxFilesNum: 10,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
</script>

</html>